USE [master]
GO
/****** Object:  Database [movie_record_db]    Script Date: 3/9/2025 5:13:40 PM ******/
CREATE DATABASE [movie_record_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'movie_record_db', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\movie_record_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'movie_record_db_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\movie_record_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [movie_record_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [movie_record_db]
GO
/****** Object:  Table [dbo].[movie_tb]    Script Date: 3/9/2025 5:13:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_tb](
	[movieId] [nvarchar](5) NOT NULL,
	[movieName] [nvarchar](100) NOT NULL,
	[movieDetail] [text] NOT NULL,
	[movieDateSale] [date] NOT NULL,
	[movieLengthHour] [int] NOT NULL,
	[movieLengthMinute] [int] NOT NULL,
	[movieTypeId] [int] NOT NULL,
	[movieDVDTotal] [int] NOT NULL,
	[movieDVDPrice] [float] NOT NULL,
	[movieImg] [image] NOT NULL,
	[movieDirImg] [image] NOT NULL,
 CONSTRAINT [PK_movie_tb] PRIMARY KEY CLUSTERED 
(
	[movieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_type_tb]    Script Date: 3/9/2025 5:13:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_type_tb](
	[movieTypeId] [int] IDENTITY(1,1) NOT NULL,
	[movieTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_movie_type_tb] PRIMARY KEY CLUSTERED 
(
	[movieTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
